@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

:root{
	--color-primary:#383838;
	--color-titulos:#222;
	--color-gris:#7f7f7f;
	--fondo-negro:#262728;
	--fondo-rosado:#fee9da;
	--color-blanco:#ffffff;
	--color-negro:#000000;
	--color-claro:#c6c6c6;
}
	

.button_dark{
	background-color: var(--color-negro);
	color: var(--color-blanco);
	text-transform: uppercase;
}

.hero {
        position: relative;
        display: flex;
        height: 100vh;
		background: var(--fondo-negro);
    }

.texto{
        
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 50px;
	    font-family:"Didact Gothic", sans-serif;
		
		
    }
p_hero{
	color: var(--col);
	font-family:"Didact Gothic", sans-serif;
	font-weight: 400;
	font-size: 15px;
}
h1 {
        font-size: 50px;
        font-weight: bold;
		color:  #fff;
		font-family:"Poppins", sans-serif;
	    text-transform: uppercase
    }

.p_line_hero {
    color: var(--color-blanco);
	font-family: "Poppins", sans-serif;
	font-weight: 450;
	font-size: 15px;
	text-transform: uppercase;
    }

  
.hero_img {
		width: 50%;
		height: 100%;
		object-fit: cover; 
		display: block;
	}
#trendy_stylish{
	margin-top: 35px;
	margin-bottom: 120px;
}

p{
	color: var(--color-gris);
	font-family:"Didact Gothic", sans-serif;
	font-weight: 400;
	font-size: 15px;
}

h3{
	color: var(--color-titulos);
	font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
	text-transform: uppercase;
	font-size: 34px;
}

.p_line{
	color: var(--color-primary);
	font-family: "Poppins", sans-serif;
	font-weight: 450;
	font-size: 10px;
	text-transform: uppercase;
}

#our_services{
	margin-top: 35px;
	margin-bottom: 35px;
	text-align: center
}

.fila_espacio{
	 margin-bottom: 40px;
	 margin-top: 40px;
}

#product_use{
	margin-top: 45px;
	background-color: var(--fondo-rosado);
}

#testimoniales{
	text-align: center
}

.p_testimoniales{
	color: var(--color-gris);
	font-family:"Didact Gothic", sans-serif;
	font-weight: 400;
	font-size: 18px;
}
.p_citador{
	color: var(--color-primary);
	font-family: "Poppins", sans-serif;
	font-weight: 450;
	font-size: 15px;
	
}

.p_procedencia{
	color: var(--color-claro);
	font-family:"Didact Gothic", sans-serif;
	font-weight: 400;
	font-size: 10px;
	text-transform: uppercase;
	
}
.iconos{
	color: var(--color-titulos);
    font-weight: 700;
	font-size: 20px;
}

footer{
	background-color: var(--color-negro);
	padding:70px;
	text-align: center;
	margin-top:15px;
}

.iconos_footer{
	color: var(--color-blanco);
	font-size:17px;
	margin-left: 6px;
	
}

h4{
  color: var(--color-gris);
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-top: 10px; 
  
}
